@CHARSET "UTF-8";


body {
	font-size: 10px;
	background: #F2F4F5;
}



.panel-heading h1, 
.jumbotron h1  {
	font-size: 14px;
}

thead, tbody {
	font-size: 12px;
}

td {
	font-size: 12px;
	font-family: Helvetica;
}

.btn-info, .btn-danger {
	font-size: 12px;
}


/* hack pour Firefox pour bien afficher les table responsive */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

/* pour coller les inputs dans les formulaires */
.form-group {
  margin-bottom: 2px;
}
.jumbotron {
	font-size:14px;
}

/* ajout d'une ligne autour des divs qui sont resizable, ainsi que cacher le texte qui n'est plus dans affiché quand on resize la div */
.resizeDiv {
	border: 1px lightgrey solid;
	overflow: hidden;
}

/* change la hauteur par defaut des divs resizable. Je devrais pas prendre en px, mais pour l'instant c'est tout ce que j'ai trouvé */
.resizeDiv-height-2-rows {
	height: 100px;
}